#quadro > img{
    width: 100%;
    overflow: hidden;
    position: relative;
    
}
#quadro > div{
    width: 80%;
}

.postit{
    background-image: url(../images/post\ it2.png);
    height: 220px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 200px;
    cursor: pointer;
    gap:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 45%;
}

.postit:hover {
    opacity: 0.8;
}
.conteudopopup{
    background-image: url(../images/post\ it2.png) ;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 25%;                  
    border-radius: 8px;
    margin: auto;
    padding: 95px;
    
    
}
.conteudopopup p {
    margin-bottom: 10px;
    
}
.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    
    align-items: center;
    justify-content: center;
    
}



.close {
    position: absolute;
    top: 20px;
    right: 35px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

.postit h1{
    font-size: 0.9rem;
    color: black;
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 0px ;
    margin-top: 40px;
}
#popups h1{
    font-size: 1.9rem;
    color: black;
    font-weight: normal;
    margin-top: 0;
    text-align: center;
}

.postit img{
    width: 110px;
    
    
    top: 10px;
}

#postit1{
    left: 14%;
    
}
#postit2{
    left: 30%;
    
}
#postit3{
    left: 46%;
   
}
#postit4{
    left: 62%;
    
}
#postit5{
    left: 78%;
    
}
