/* TITULO */ /* font-family: "Cinzel Decorative", serif; */
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

/* Textos corridos */ /* font-family: "Merriweather", serif; */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Interface / botões / fórum */ /* font-family: "Montserrat", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

:root {
    --vermelho: #710014;
    --Dourado: #B38f6f;
    --Branco: #f2f1ed;
    --Preto: #161616;
}
.largurapadrao{
    width: 85%;
    margin: auto;
}


header {
    background-color: var(--vermelho);
    display: flex;
    padding:  0 7px;
}
#cabeçalho {
    display: flex ;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

#ladoA {
    display: flex;
    align-items: center;
    gap: 180px;
}

header div nav {
    display: flex;
    gap: 40px;
}

header h1 {
   font-family: "Cinzel Decorative", serif;
   color: var(--Branco);
   font-size: 48px;
   font-weight: normal;

}

#logo {
    width: 150px;
}

header nav > a {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: var(--Branco);
}
p{
    font-family: "Merriweather", sans-serif;
}
h1{
    color: var(--vermelho);
    font-size: 2.4rem;
    font-family: "Cinzel Decorative", serif;
    margin: 30px 0;
}
#rodape{
    background-color: var(--vermelho);
    color: white;
    padding: 40px;
    text-align: center;
    
}
#rodape p {
    font-family: "Montserrat", sans-serif;
    
}
