

h2 {
    font-size: 1.5rem;
    text-align: center;
}

.Testemunho {
    width: 68%;
    margin: auto;
    padding: 40px;

}

.Testemunho p {
    margin: 12px 0 12px 0;
}

#test2 {
    margin-left: 75px;
    text-align: center;
}
