.test {
    display: flex;
    gap: 10px;
    justify-content: center;
}

h2 {
    font-size: 1.5rem;
}

.Testemunho {
    width: 68%;
    padding: 40px 80px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 80px;
    background-color: #fff2f2;
    border: 1px solid var(--vermelho);
    border-radius: 50px;

}

.Testemunho p {
    margin: 12px 0;
    text-align:justify;
}

#test2 {
    text-align: center;
}

#test1 {
    align-items: center;
    gap: 15px;
}

#test1 span {
    font-size: 45px;
    color: var(--vermelho);
}

#test3 {
    align-items: baseline;
}

#test3 p {
    color: var(--vermelho);
}
