#test1 {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: baseline;
}

h2 {
    font-size: 1.5rem;
}

.Testemunho {
    width: 68%;
    padding: 40px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: rgb(236, 236, 236);
    border: 2px solid rgb(207, 207, 207);
    border-radius: 8px;

}

.Testemunho p {
    margin: 12px 0 12px 0;
}

#test2 {
    text-align: center;
}
