#test1 {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: baseline;
}

h2 {
    font-size: 1.5rem;
}

.Testemunho {
    width: 68%;
    padding: 40px 80px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 80px;
    background-color: var(--Branco) ;
    border: 1px solid var(--vermelho);
    border-radius: 50px;

}

.Testemunho p {
    margin: 12px 0;
}

#test2 {
    text-align: center;
}
